venv/
__pycache__/
#*.pyc         # Ignore all compiled Python files
*.log         # Ignore all log files
*.swp         # Ignore all Vim swap files 
*.pypirc
deploy_key.pub
deploy_key

# Distribution / packaging
build/
#dist/
*.egg-info/
